@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
	background-color: #181818;
	color: #fff;
	line-height: 1.6;
	font-family: 'Bangers', cursive;
	padding: 0 1.5em;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	box-shadow: 0 0 20px 0 rgba(255,255,255,.3);
}

.container>*{
	padding: 1em;
}

.brand-logo{
	text-align: center;
	font-size: 3em;
}

.brand-logo span{
	color: #b70e21;
}

.contactForm{
	background-color: #222;
}
.contactForm form{
	display: grid;
	grid-template-columns: repeat(2,1fr);
}

.contactForm form .block{
	grid-column:1/3 ;
}

.contactForm form p{
	margin: 0;
	padding: 1em;
}

.contactForm form button,
.contactForm form input,
.contactForm form textarea{
	color:#fff;
	width: 100%;
	padding: .7em;
	outline: none;
	border: none;
	background: none;
	border-bottom: 1px solid #d63031;
}

.contactForm form button{
	background-color: #b70e21;
	border: none;
	text-transform: uppercase;
	padding: 1em;
}


.contactForm form button:hover,
.contactForm form button:focus{
	background-color: #d33031;
	transition: background-color 1s ease-out;
	outline: none;
}

.contactInfo{
	background-color: #000;
}

.contactInfo h3,
.contactInfo ul,
.contactInfo p{
	text-align: center;
	margin: 0 0 1rem 0;
}

.contactInfo ul li{
	padding: .3em;
}

@media(min-width:700px){
	body{
		padding:0 4rem ;
	}

	.container{
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

	.container>*{
		padding: 2em;
	}
	.contactInfo h3,
	.contactInfo ul,
	.contactInfo p{
	text-align: left;
	}
}