@media(max-width: 700px){

	.menu-btn{
		display: block;
	}
	.nav-main ul.nav-menu{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #2f3640;
		height: 100%;
		padding: 30px;
		opacity: 0.96;
		transform: translateX(-400px);
		transition: transform .5s ease-in-out;
	}

	.nav-main ul.nav-menu.show{
		display: block;
		transform: translateX(-20px);
	}
	.nav-main ul.nav-menu li{
		padding: 20px;
		font-size: 14px;
	}

	.nav-main ul.nav-menu-right{
		margin: 40px;
	}

	.news-cards{
		grid-template-columns: repeat(2,1fr);
	}
	.cards-banner-one .content,.cards-banner-two .content{
		width:80%;
	}
	.footer-links .footer-container{
		grid-template-columns: repeat(2,1fr);
	}

	
}
