<div class="footer-links">
	<div class="container"><!--Programar listas, Extender width-->
		<ul>
			<li>
				<a href="">
					<h3>Title One</h3>
				</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="">
					<h3>Title One</h3>
				</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="">
					<h3>Title One</h3>
				</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="">
					<h3>Title One</h3>
				</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
			<li>
				<a href="#">Lorem, ipsum.</a>
			</li>
		</ul>
	</div>
</div>
<footer class="footer">
	<h3>Xoje News Copyright</h3>
</footer>

