<div class="wrapperContent">
	<header>
		<div class="logo">
			<h1>Xoje Senpai</h1>			
			<h2>Aprendedor</h2>
		</div>
	</header>
		<!--<form action="">
			<input type="text" class="barra-busqueda" id="barra-busqueda" placeholder="Buscar">
		</form>
		<ul class="categorias" id="categorias">
			<li><a class="actual" href="#">Todos</a></li>
			<li><a href="#">Naturaleza</a></li>
			<li><a href="#">Ciudades</a></li>
			<li><a href="#">Personas</a></li>
			<li><a href="#">Animales</a></li>
		</ul>
	</header>
	<section class="grid" id="galery">
		<article class="item"
						data-category="ciudades"
						data-keywords="dia coches calles"
						data-descripcion="Aunque sea una putojoder">
					<figure class="item-content">
						<img src="../assets/img/galeria/ciudad1.png" alt="">
					</figure>
				</article>
				<article class="item"
						data-category="ciudades"
						data-keywords="ciudades mar cielo"
						data-descripcion="">
					<figure class="item-content">
						<img src="../assets/img/galeria/ciudad2.png" alt="">
					</figure>
				</article>
				<article class="item"
						data-category="animales"
						data-keywords="leon gatito salvaje"
						data-descripcion="">
					<figure class="item-content">
						<img src="../assets/img/galeria/animal1.png" alt="">
					</figure>
				</article>
				<article class="item"
						data-category="animales"
						data-keywords="panda peluche bambu"
						data-descripcion="">
					<figure class="item-content">
						<img src="../assets/img/galeria/animal2.png" alt="">
					</figure>
				</article>
				<article class="item"
						data-category="naturaleza"
						data-keywords="hojas verde salvaje"
						data-descripcion="">
					<figure class="item-content">
						<img src="../assets/img/galeria/naturaleza1.png" alt="">
					</figure>
				</article>
				<article class="item"
						data-category="naturaleza"
						data-keywords="costa montanya mar"
						data-descripcion="">
					<figure class="item-content">
						<img src="../assets/img/galeria/paisaje1.png" alt="">
					</figure>
				</article>
				<article class="item"
						data-category="naturaleza"
						data-keywords="montanya nubes verde"
						data-descripcion="">
					<figure class="item-content">
						<img src="../assets/img/galeria/paisaje2.png" alt="">
					</figure>
				</article>
				<article class="item"
						data-category="personas"
						data-keywords="plano morena rosa"
						data-descripcion="">
					<figure class="item-content">
						<img src="../assets/img/galeria/persona1.png" alt="">
					</figure>
				</article>
				<article class="item"
						data-category="personas"
						data-keywords="peliroja superior exterior"
						data-descripcion="">
					<figure class="item-content">
						<img src="../assets/img/galeria/persona2.png" alt="">
					</figure>
				</article>	
	</section>
	<section class="overlay " id="overlay">		
		<figure class="wrapper-img">
			<button id="btn-cerrar-popup"><i class="fas fa-times"></i></button>
			<img src="" alt="">
			<figcaption class="description"></figcaption>
		</figure>
	</section>-->
</div>
